* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #f2f2f2;
}

.opacidade {
  opacity: 0.5;
}

.root {
  font-family: 'Lexend Deca', sans-serif;
}
/*
font-family: 'Lexend Deca', sans-serif;
font-family: 'Playball', cursive;
*/
