* {
  box-sizing: border-box;
  text-decoration: none;
}

.opacidade {
  opacity: 60%;
}

.clicado {
  background-color: #CFCFCF;
  color: #FFFFFF;
}
/*
font-family: 'Lexend Deca', sans-serif;
font-family: 'Playball', cursive;
*/
